body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 10px;
  margin: 20px;
}

h1 {
  margin:  0;
  font-weight: normal;
  width: calc(75vw - 400px); 
}

h2 {
  margin:  1;
  margin-top:  3 px;
  font-weight: normal;
  font-size:  12 px;
  width: calc(75vw - 400px); 
}
.tours {
  position: absolute;
  top: 75px;
  left: calc(75vw - 350px);
  width: 330px;
  height: 50px;
}

.liste-candidats {
  position: absolute;
  top: 75px;
  left: calc(75vw - 100px);
  width: 330px;
  height: 50px;
}

#chloropleth {
  position: absolute;
  left: 20px;
  min-height: 500px;
  width: 45vw;
}

#infobox-communes{
  position: absolute;
  top: 200px;
  left: 50vw;
  height: 400px;
}

#barplot{
  overflow: visible;
}

#scale {
  position: absolute;
  top: 580px;
  left: 50vw;
}
.copyright {
  position: absolute;
  top: 660px;
  font-size: 10 px;
  margin-bottom: 7px;
}


.custom-button:focus {
  background: beige;
}

@supports selector(div:focus-visible) {
  /* only on clic/tap focus */
  .custom-button:focus:not(:focus-visible) {
    outline: 0;
  }
  /* only on keyboard focus */
  .custom-button:focus-visible {
    outline: 6px dashed hotpink;
  }
}
.custom-button {
  all: unset;
  padding: 1rem;
  border: 2px solid pink;
  cursor: pointer;
}


.selector :focus {
  background: pink;;
}

