body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 10px;
  margin: 20px;
}

h1 {
  margin:  0;
  font-weight: normal;
}

h2 {
  margin:  1;
  margin-top:  3 px;
  font-weight: normal;
  font-size:  12 px;
}

#map {
  position: absolute;
  top: 80px;
  left: 20px;
  width: calc(75vw - 200px); 
  height: calc(100vh - 110px);
  min-height: 500px;
  background-color: #999;
  border: 1px solid #666;
}
.tours {
  position: absolute;
  top: 80px;
  left: 575px;
  width: 330px;
  height: 50px;
  background-color: #bdbdbd;
}

.liste-candidats {
  position: absolute;
  top: 140px;
  left: 575px;
  width: 330px;
  height: 50px;
  background-color: #bdbdbd;
}

.stats-descriptives {
  position: absolute;
  top: 200px;
  left: 575px;
  width: 330px;
  height: 150px;
  background-color: #bdbdbd;
}

.infobox-communes{
  position: absolute;
  top: 360px;
  left: 575px;
  width: 330px;
  height: 150px;
  background-color: #bdbdbd;
}

.copyright {
  position: absolute;
  bottom: 0;
  font-size: 10 px;
  margin-bottom: 7px;
}
